//ul.nav.navbar-nav
//    li(ng-if="!isDropdown()" ng-class="{active:isActiveCompany(cap.company.id)}" ng-show="config.currentUserId" ng-repeat="cap in companiesAndParticipants")
//        a(href="#/companies/{{cap.company.id}}") {{ cap.company.name }}
//    li.dropdown(ng-if="isDropdown()" ng-show="config.currentUserId")
//        a.dropdown-toggle(href="#" data-toggle="dropdown") {{ 'main.menu.companies' | translate:this }}
//            span.caret
//        ul.dropdown-menu(role="menu")
//            li(ng-show="config.currentUserId" ng-repeat="cap in companiesAndParticipants")
//                a(href="#/companies/{{cap.company.id}}") {{ cap.company.name }}
//    li(ng-class="{active:isActive('/admin')}" ng-show="config.user.permissions.companiesManage || config.user.permissions.leadersManage")
//        a(href="#/admin" translate="main.menu.toolAdministration")
ul.nav.navbar-nav
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
            span.glyphicon.glyphicon-info-sign
            span  Travels
            span.caret
        ul.dropdown-menu(role="menu")
            li(ng-repeat="travel in vm.travelCategories")
                a(ui-sref="travels({ catID: {{travel.id}} })") {{ travel.name }}
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
            span.glyphicon.glyphicon-info-sign
            span  Reviews
            span.caret
        ul.dropdown-menu(role="menu")
            li(ng-repeat="review in vm.reviewCategories")
                a(ui-sref="travels({ catID: {{review.id}} })") {{ review.name }}
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
            span.glyphicon.glyphicon-info-sign
            span  Guides
            span.caret
        ul.dropdown-menu(role="menu")
            li
                span in progress..
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
            span.glyphicon.glyphicon-info-sign
            span  Admin
            span.caret
        ul.dropdown-menu(role="menu")
            li
                a(ui-sref="admin_categories") Categories