ul.nav.navbar-nav
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
            span.glyphicon.glyphicon-info-sign
            span  Travels
            span.caret
        ul.dropdown-menu(role="menu")
            li(ng-repeat="travel in vm.travelCategories")
                a(ui-sref="travels({ catID: {{travel.id}} })") {{ travel.name }}
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
            span.glyphicon.glyphicon-info-sign
            span  Reviews
            span.caret
        ul.dropdown-menu(role="menu")
            li(ng-repeat="review in vm.reviewCategories")
                a(ui-sref="travels({ catID: {{review.id}} })") {{ review.name }}
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
            span.glyphicon.glyphicon-info-sign
            span  Guides
            span.caret
        ul.dropdown-menu(role="menu")
            li
                span in progress..
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
            span.glyphicon.glyphicon-info-sign
            span  Admin
            span.caret
        ul.dropdown-menu(role="menu")
            li
                a(ui-sref="admin_categories") Categories