doctype html
html(lang="en" ng-app="cpApp" ng-strict-di)
    head
        title= 'CloseProject'
        link(rel="stylesheet" href="/build/css/style.css")
    body
        <!-- NAVIGATION -->
        nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
            div.container
                div.navbar-header
                    a.navbar-brand(ui-sref="home") Home
                main-menu
                ul.nav.navbar-nav.navbar-right
                    li.navbar-right
                        a.glyphicon.glyphicon-user(ui-sref="login")  Login

        <!-- MAIN CONTENT -->
        div.container
            ui-view

        <!-- FOOTER -->
        footer
            div.container
                //p.text-muted.credit Example courtesy
        script(src="/build/js/dependencies.js")
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/build/js/app.js")
        script(src="/build/js/module/auth/auth.module.js")
        script(src="/build/js/module/travels/travels.module.js")
        script(src="/build/js/module/reviews/reviews.module.js")
        script(src="/build/js/module/auth/controllers/authCtrl.js")
        script(src="/build/js/module/auth/services/config.js")
        script(src="/build/js/module/auth/services/tokenPersistence.js")
        script(src="/build/js/module/auth/services/authService.js")
        script(src="/build/js/module/travels/controllers/travelsCtrl.js")
        script(src="/build/js/module/travels/controllers/travelCategoriesCtrl.js")
        script(src="/build/js/module/reviews/controllers/reviewCategoriesCtrl.js")
        script(src="/build/js/module/main/main.module.js")
        script(src="/build/js/module/main/controllers/mainCtrl.js")
        script(src="/build/js/module/main/directives/mainMenu.js")
        script(src="/build/js/module/admin/admin.module.js")
        script(src="/build/js/module/admin/controllers/categoriesCtrl.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")