div.col-sm-12
    h1 Login
div.col-sm-12
    form.form(name="form" ng-submit="login(form)" novalidate="")
        div.form-group
            label Email
            <input type="email" name="email" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email" ng-model="user.email" required="">
        div.form-group
            <label>Password</label>
            <input type="password" name="password" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="user.password" required="">
        div class="form-group has-error"
            p.help-block.ng-hide ng-show="form.email.$error.required &amp;&amp; form.password.$error.required &amp;&amp; submitted">Please enter your email and password.</p>
            p.help-block.ng-hide ng-show="form.email.$error.email &amp;&amp; submitted">Please enter a valid email.</p>
            p.help-block
        div
            button.btn.btn-inverse.btn-lg.btn-login(type="submit") Login
            a.btn.btn-default.btn-lg.btn-register(href="/signup") Register
        hr
        div
            a.btn.btn-google-plus href="" ng-click="loginOauth('google')"><i class="fa fa-google-plus"></i> Connect with Google+</a>
            a.btn.btn-twitter href="" ng-click="loginOauth('twitter')"><i class="fa fa-twitter"></i> Connect with Twitter</a>
hr