form.form-signin(method="post" name="loginForm" ng-submit="vm.submitLogin()" novalidate="")
    h2.form-signin-heading Please sign in
    label.sr-only(for="inputEmail") Email address
    input.form-control(ng-model="vm.login.email" type="email" id="inputEmail" placeholder="Email address" required="" autofocus="")
    label.sr-only(for="inputPassword") Password
    input.form-control(ng-model="vm.login.password" type="password" id="inputPassword" placeholder="Password" required="")
    div.checkbox
        label
            input(ng-model="vm.login.remember" type="checkbox" value="remember-me")
            | Remember me
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in