form.form-horizontal(method="post" name="editForm" ng-submit="vm.submitEdit()" novalidate="")
    h2.form-signin-heading Edit Review Category
    div.form-group
        label.control-label.col-sm-2(for="inputName") Category Name
        div.col-sm-4
            input.form-control(ng-model="vm.edit.name" type="text" id="inputName" placeholder="Name" required="" autofocus="")
    div.form-group
        label.control-label.col-sm-2(for="inputPosition") Position
        div.col-sm-4
            input.form-control(ng-model="vm.edit.position" type="number" id="inputPosition" required="")
    div.form-group
        label.control-label.col-sm-2 Visible
        div.checkbox.col-sm-1.col-sm-offset-1
            input(ng-model="vm.edit.visible" type="checkbox")
            | {{ vm.edit.visible }}
    div.form-group
        div.col-sm-2.col-sm-offset-2
            button.btn.btn-primary.btn-block(type="submit") Edit
